@import url("https://fonts.googleapis.com/css?family=Roboto");
/* loading:start; */
@-webkit-keyframes color {0%,100% {background: #0099ff;} 50% {background: #ffea00;}}
@-moz-keyframes color {0%, 1%, 99%, 100% {background: #e13300;} 50% {background: #ffea00;}}
.loading {margin: 0px auto 0;position: relative;-webkit-animation-delay: .4s;-moz-animation-delay: .4s;}
.loading, .loading::before, .loading::after {width: 20px;height: 20px;border-radius: 50%;background: #0099ff;-webkit-animation: color .5s infinite;-moz-animation: color .5s infinite;}
.loading::before, .loading::after {content: "";position: absolute;}
.loading::before {left: -150%;-webkit-animation-delay: .4s;-moz-animation-delay: .4s;}
.loading::after {right: -150%;-webkit-animation-delay: .2s;-moz-animation-delay: .2s;}
/* loading:end; */
.all-tst {transition: all 0.2s ease-in-out;}
.ff-roboto {font-family: 'Roboto', sans-serif;}
.no-radius {border-radius: 0px !important;}
.no-mg {margin: 0px !important;}
.no-mg-y {margin-top: 0px !important;margin-bottom: 0px !important;}
.no-mg-y-t {margin-top: 0px !important;}
.no-mg-y-b {margin-bottom: 0px !important;}
.no-mg-x {margin-right: 0px !important;margin-left: 0px !important;}
.no-mg-x-r {margin-right: 0px !important;}
.no-mg-x-l {margin-left: 0px !important;}
.no-more-glow {outline: none !important; box-shadow:none !important; border-color: #ccc !important; }
.bg-white {background-color: #fff !important;}
.no-bg {background-color: transparent !important;}
.bg-dark {background-color: #222 !important;}
.img-trans {
	background-image:url(trans.gif);
	background-repeat:no-repeat;
	background-position:center center;
	background-size: cover;
}
#core_navbar .nk-header-logo {height: 30px;}
#core_navbar .navbar-brand > .nk-header-logo:first-child {margin: -5px 0px;}
#core_navbar .dropdown-toggle > .nk-header-logo:last-child {margin: -8px 0px;}
#core_header {}
#core_content {min-height: 36px;font-family: 'Roboto', sans-serif;}
#core_content .row > .col-md-3 {padding-left: 0px;padding-right: 0px;}
#core_content .row > .col-md-3 > img {display: block;}
#core_content .item-post > div, #core_content .item-post > div > table {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}
#core_content .item-post > div {
	opacity: 0;
}
#core_content .item-post:hover > div {
	background-color: rgba(255,255,255,0.6);
	opacity: 1;
}
#core_content .item-post .post-love,
#core_content .item-post .post-seen {
	position: absolute;
	bottom: 6px;
}
#core_content .item-post .post-love > span,
#core_content .item-post .post-seen > span{
	color: red;
	font-size: 20px;
}
#core_content .item-post .post-title,
#core_content .item-post .post-love {right: 6px;}
#core_content .item-post .post-title,
#core_content .item-post .post-seen {left: 6px;}
#core_content .item-post .post-title {position: absolute;top: 6px;}
#core_content .item-post .post-play {
	font-size: 24px;
	border-radius: 50%;
	padding-left: 16px;
	background-color: transparent;
	color: red;
	border-color: red;
}

.downmore {background-color: rgba(22,22,22,0.6);position: absolute;bottom: 0px;left: 15px;right: 15px;padding: 8px;}
